div {
	text-align: center;
}

#summaryDiv {
	display: none;
}

table {
	border: 1px black solid;
	margin-left: auto;
	margin-right: auto;
}

table tr td {
	border: 1px black solid;
}

td {
	padding-left: 10px;
	padding-right: 10px;
}

.bold {
	font-weight: bold;
}

.chart rect {
  	fill: steelblue;
}

.chart text {
  	fill: black;
  	font: 10px sans-serif;
  	text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*.x.axis path {
  display: none;
}*/

